@import 'minireset.scss';
@import 'normalize.scss';
@import 'fonts.scss';
@import 'vars.scss';
@import 'mixins.scss';

:root {
  font-size: 62.5%;
}

//reset margin from normalize
h1 {
  margin-top: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  @include font(20/11, 1.1rem, 400);
  color: $main-text;
  background-color: #fff;
}

