.main-footer{
  background-color: #77c1bb;
  padding: 3.6rem 0;
}

.footer-title{
  color: #372c48;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: center;

}
