.search-form {
  padding-top: 30px;
  position: relative;
  width: 50%;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.search-input {
  width: 100%;
  min-height: 42px;
  border-radius: 6px;
  border-bottom: 2px solid #77c1bb;
  margin-bottom: 20px;
  padding-left: 60px;
  text-align: left;
  outline: none;
  color: #372c48;

  &::placeholder {
    text-align: left;
    color: #372c48;
  }
}

.submit-button {
  position: absolute;
  top: 30px;
  left: 0;
  width: 42px;
  height: 42px;
  border: none;
  background: #77c1bb;
  border-radius: 5px;
  cursor: pointer;
}
