.stats {
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  color: #3b5998;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 0;
}

.gallery-image {
  min-height: 300px;
  object-fit: cover;
  cursor: pointer;
  @media (max-width: 576px) {
    min-height: 200px;
  }
}
