@import '../vars';
@import '../mixins';

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.main-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: $accent-color;
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.logo {
  margin-left: 4.8rem;
  position: relative;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  @include font(1.2, 2rem, 500);
  color: $header-text;
  opacity: 0.87;

  &::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: -3.4rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../images/video-camera.png') no-repeat center;
    background-size: 24px;
  }
}
.logo-title {
  display: none;
}

  @include for-size(tablet) {
    .logo-title{
      display: block;
    }

}

.head_toggle {
  display: inline-block;
  overflow: hidden;
}

.toggle-item {
  float: left;
  display: inline-block;

  /* Style for "my library" */

  color: $header-text;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.toggle-item input[type='radio'] {
  display: none;
}

.toggle-item label {
  display: inline-block;
  padding: 0.4rem 1.5rem;
  line-height: 3.4rem;
  opacity: 0.7;
  border-right: none;
  cursor: pointer;
  user-select: none;
  width: 12.2rem;
}

/* Checked */
.head_toggle .item input[type='radio']:checked + label {
  opacity: 1;
  border-bottom: 2px solid $header-text;
}

@include for-size(tablet) {
  .link-logo__title {
    display: block;
  }

  .link-logo__img {
    margin-right: 1rem;
  }
}
