@import '../vars.scss';
@import '../mixins.scss';

.swiper-container {
  width: 1000px;
  height: 300px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
}
