@import '../vars';
.main-watched {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 0.8rem;
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.23);
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: 1.8rem;

  .toggle-item label {
    display: inline-block;
    padding-bottom: 1rem;
    padding-top: 1.2rem;
    text-align: center;
    text-transform: none;
    opacity: 1;
    border-right: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    width: 12.2rem;
    border-bottom: 2px solid #9895a2;
    color: $h2-text;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.6rem;
  }

  .head_toggle .item input[type='radio']:checked + label {
    border-bottom: 2px solid #77c1bb;
    background-color: #77c1bb;
    color: $primary-white;
  }
}
