{{#each this}}
    <li><div class="movie-card">
        <img class="gallery-image" src="" data-source="https://image.tmdb.org/t/p/w768{{poster_path}}" data-id="{{id}}" alt="{{title}}" data-lazy="https://image.tmdb.org/t/p/w400{{poster_path}}"/>
    </div></li>
{{/each}}

