.visibility{
  visibility: visible;
  opacity: 1;
  position: relative;
  display: block;
}
.unVisibility{
  display: none;
}

.modal-open{
  overflow: hidden;
}
.basicLightbox__placeholder{
  width: 100%;
}

.toasty-wrap {
  position: fixed;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  transform: translateX(100%);
}
.show-toasty{
  transform: translateX(0);
}
